@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950 dark:text-white text-black;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

video {
  max-height: 100vh!important;

}
vide::-internal-media-controls-button-panel{

	background: none;
}
video::-webkit-media-controls-panel{
	background: none;
}
video::-webkit-media-controls{
	background: none;
}
