[Unit]
Description=Bunkr Album Scraper - FastAPI Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/a/dev/nsri/bunkr
Environment="PATH=/home/a/dev/nsri/rg/bunkr/.venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/a/dev/nsri/rg/bunkr/venv/bin/python /home/a/dev/nsri/rg/bunkr/main.py
Restart=always
RestartSec=20
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bunkr

[Install]
WantedBy=multi-user.target
